---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      <p class="author">
        <span class="date">{{ post.date }}</span>
      </p>
      <div class="content">
        {% assign url = site.baseurl %}
        {{ post.content | thumbnail_url: url, post.thumbnail_image, site.thumb_width, site.thumb_height }}
      </div>
    {% endfor %}
  </ul>
  {% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <span aria-hidden="true">&larr;</span> Older
        </a>
      </li>
      {% else %}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer <span aria-hidden="true">&rarr;</span></a>
      </li>
      {% else %}
      <li class="next disabled">
        <a href="#">Newer <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a></p>
</div>
