/**
 * Site header
 */
.site-header {
    /*border-top: 16px solid #263238;*/
    border-bottom: 5px solid #37474F;
    min-height: 56px;
    background-color: #263238;
    // Positioning context for the mobile navigation icon
    position: relative;
    padding: 10px 0;
}

.site-header a {
    color: #FFF !important;
}

.site-title {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $base-font;
    font-weight: 500;
    &,
    &:visited {
        color: #FFFFFF;
    }
}

.headline {
    font-size: 24px;
    margin: 30px 0 30px 0;
    font-family: $base-font;
    font-weight: $base-font-weight-light-300;
    color: #37474F;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #FFFFFF;
        line-height: $base-line-height;
        font-weight: $base-font-weight-normal-400;
        padding-bottom: 19px;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link:hover {
        border-bottom: 5px solid #546E7A;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 20px;
        right: 0;
        background-color: #263238 !important;
        border-bottom: 5px solid #37474F;
        /*
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;*/
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 56px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #FFFFFF !important;
    border-top: 1px solid #CCCCCC; 
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.category-list ul {
    list-style: none;
}

.category-list ul li {
    
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts Featured
 */

.post-featured {
    vertical-align: top;
    margin-bottom: 30px;
}

.post-featured header {
    width: 100%;
}

.post-featured header img {
    width: 100%;
    box-shadow: 0 4px 8px -2px gray;
}

.post-featured header .noimg {
    display: block;
    width: 100%;
    height: 300px;
    background-image: url(/godot/assets/img/thumb_no.jpg);
    background-repeat: no-repeat;
}

.post-featured .post-featured-content {
    background-color: #FFFFFF;
    padding-bottom: 30px;
}

.post-featured .post-featured-content .title {
    font-size: 21px;
    line-height: 1.3em;
    font-family: $base-font;
    font-weight: $base-font-weight-medium-500;
    padding: 30px 30px 0;
    margin-bottom: 20px;
}

.post-featured .post-featured-content .meta {
    font-size: 14px;
    margin: 10px 30px  0;
    font-family: $base-font;
    font-weight: $base-font-weight-medium-500;
    line-height: 1.3;
    color: #7f7f7f;
}

.post-featured .post-featured-content p {
    display: block;
    display: -webkit-box;
    font-family: $base-font;
    color: #7f7f7f;
    /*max-height: 54.6px;*/
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 30px 0;
    max-width: 300px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

section article .post-title-featured {
    font-size: 21px;
    line-height: 1.3;
    font-family: $base-font;
    font-weight: $base-font-weight-medium-500;
    padding: 30px 30px 0;
    margin-bottom: 20px;
}

section article .post-meta {
    font-size: 14px;
    margin: 10px 30px  0;
    font-family: $base-font;
    font-weight: $base-font-weight-medium-500;
    line-height: 1.3;
    color: #7f7f7f;
}

section article p {
    display: block;
    display: -webkit-box;
    font-family: $base-font;
    color: #7f7f7f;
    /*max-height: 54.6px;*/
    padding: 0;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 30px 0;
    max-width: 300px;
}

article .post-content {
    background-color: #FFFFFF;
}

article .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
