<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <section class="row">
        <header class="headline col-xs-12 col-sm-12"><p>GDScrip</p></header>        
        <article class="post-featured col-xs-12 col-sm-4">
          <header>
            <img src="/godot/assets/img/thumb_no.jpg">
          </header>
          <div class="post-featured-content">
            <div class="title">
              <a href="#">Title Title Title Title TitleTitle Title Title Title Title Title Title</a> 
            </div>
            <div class="meta">31, Julho de 1992</div>
            <p>Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo Olá Conteudo </p>
          </div>
        </article>  
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
